{{! I like this because I can use easy redy made elements pulled from the controller or I can just write it in HTML if it is too complex}}
<div class='form-horizontal' role='form'>
  <div class='form-group'>
    {{#each form.name}}
      {{> input}}
    {{/each}}
    {{#each form.width}}
      {{> input}}
    {{/each}}
    {{#each form.height}}
      {{> input}}
    {{/each}}
    {{#each form.tileset}}
      {{> select}}
    {{/each}}
  </div>
</div>
