<h4 class='show'><span class='label label-default layerName'>{{name}}</span></h4>
<div class='form-group hidden'>
  <input type='text' class='form-control layerNameFormItem' placeholder='Layer Name' value='{{name}}'>
</div>
<div class='btn-group'>
  <button class='btn btn-danger deleteLayer'>
    <span class='glyphicon glyphicon-remove-circle'></span>
  </button>
  <button class='btn btn-default active setVisibilityLayer' data-toggle='button' aria-pressed='true',autocomplete='off'>
    <span class='glyphicon glyphicon-eye-open'></span>
  </button>
  <button class='btn btn-default makeLayerActive active'>
    <span class='glyphicon glyphicon-pencil'></span>
  </button>
</div>
