<div class="modal fade" id="lgModal">
  <div class='modal-dialog modal-lg'>
    <div class='modal-content'>
      <div class='modal-header'>
        <h4>{{title}}</h4>
      </div>
      <div class='modal-body' id='modalBody'>
        {{! The javascript loads the templete as html}}
        {{{content}}}
      </div>
      <div class='modal-footer' id='modalFooter'>
        {{! The javascript loads the templete as html}}
        {{{footer}}}
      </div>
    </div>
  </div>
</div>
